flows_raspberrypi.json
[{"id":"66eb2783.9914d8","type":"tab","label":"SPEED Flow"},{"id":"2dea5fe7.5ae3f8","type":"tab","label":"Etc"},{"id":"f915f1f4.06ea1","type":"MySQLdatabase","z":"66eb2783.9914d8","host":"127.0.0.1","port":"3306","db":"NodeRedDB","tz":""},{"id":"832b6d06.29603","type":"http in","z":"66eb2783.9914d8","name":"","url":"/new-user","method":"post","swaggerDoc":"","x":90,"y":290.5,"wires":[["3d693b4d.b036f4"]]},{"id":"fb521e11.03c948","type":"http response","z":"66eb2783.9914d8","name":"","x":1032.5,"y":331.0000305175781,"wires":[]},{"id":"fa732999.176b18","type":"template","z":"66eb2783.9914d8","name":"Can'tAddUser","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Can't add</title>\n</head>\n<body>\n<div>\nCan't add user ID {{id}}.<br>\n{{payload.length}} transactions found for user ID {{id}}.<br>\n<img src='/speed/cantadduser.png' alt='money' width = '70' height='70' style='right;'>\n<img src='/speed/greenarrow.png' alt='money' width = '48' height='48' style='right;'>\n<img src='/speed/user.jpg' alt='money' width = '48' height='48' style='right;'>\n</div>\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>\n","x":547.5,"y":420.5000305175781,"wires":[["fb521e11.03c948"]]},{"id":"b5ea877.7690ef8","type":"tcp request","z":"66eb2783.9914d8","server":"localhost","port":"2000","out":"time","splitc":"1000","name":"","x":120.5,"y":437.5000305175781,"wires":[["e7445578.e5df6"]]},{"id":"6595c4f4.1efe74","type":"tcp in","z":"66eb2783.9914d8","name":"","server":"server","host":"","port":"2000","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":119.49996948242188,"y":112.5,"wires":[["5e907521.eb2aa4"]]},{"id":"3d693b4d.b036f4","type":"function","z":"66eb2783.9914d8","name":"","func":"msg.payload=\"get_id\";\nreturn msg;","outputs":1,"noerr":0,"x":108.5,"y":366.5,"wires":[["b5ea877.7690ef8"]]},{"id":"a673d772.55ac38","type":"tcp out","z":"66eb2783.9914d8","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"","x":566.4999389648438,"y":100,"wires":[]},{"id":"5e907521.eb2aa4","type":"function","z":"66eb2783.9914d8","name":"TCPServer","func":"node.warn(msg.payload);\n\nswitch(msg.payload){\n    case \"get_id\":\n        //Math.floor(Math.random()*100);\n        //msg.payload=42;//\"698213567211\";\n        flow.set(\"tcpResponse\",msg);\n        return;\n        break;\n    case \"id_scanned\":\n        if(flow.get(\"tcpResponse\")){\n            node.warn(\"id_used\");\n            msg=flow.get(\"tcpResponse\");\n            flow.set(\"tcpResponse\",null);\n            msg.payload=flow.get(\"rfidSerialNumber\");\n        }\n        else{\n            node.warn(\"id_ignored\");\n            return;\n        }\n        break;\n    case \"eject_usb\":\n        msg.payload=\"ejecting USB\";\n        break;\n    default:\n        msg.payload=\"error: unknown request\";\n        break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":335.4999694824219,"y":95.5,"wires":[["a673d772.55ac38"]]},{"id":"c205a536.c29","type":"mysql","z":"66eb2783.9914d8","mydb":"f915f1f4.06ea1","name":"","x":301,"y":325,"wires":[["78134292.a272bc"]]},{"id":"933aea98.d31b18","type":"function","z":"66eb2783.9914d8","name":"RequestTransactions","func":"msg.topic=\"SELECT * FROM customers WHERE id=\"+msg.id;\nreturn msg;","outputs":"1","noerr":0,"x":193.5,"y":558.5,"wires":[["c205a536.c29"]]},{"id":"f07e4707.87988","type":"http response","z":"2dea5fe7.5ae3f8","name":"","x":526.5,"y":210,"wires":[]},{"id":"b21dadb4.2d1388","type":"http in","z":"2dea5fe7.5ae3f8","name":"","url":"/eject-usb","method":"post","swaggerDoc":"","x":132,"y":223.5,"wires":[["368b5693.2b5902","f22b93e1.783e1"]]},{"id":"3da9e340.b6943c","type":"template","z":"2dea5fe7.5ae3f8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Eject USB</title>\n</head>\n<body>\n{{payload}}\n</body>\n</html>","x":468.5,"y":140.5,"wires":[["f07e4707.87988"]]},{"id":"368b5693.2b5902","type":"function","z":"2dea5fe7.5ae3f8","name":"","func":"msg.payload=\"eject_usb\";\nreturn msg;","outputs":1,"noerr":0,"x":179,"y":156,"wires":[["5ac933c8.ae327c"]]},{"id":"5ac933c8.ae327c","type":"tcp request","z":"2dea5fe7.5ae3f8","server":"localhost","port":"2000","out":"time","splitc":"1000","name":"","x":325,"y":80,"wires":[["3da9e340.b6943c"]]},{"id":"ed6e258f.75517","type":"template","z":"2dea5fe7.5ae3f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Number of transactions: {{payload.length}}!","x":429.5,"y":603,"wires":[["73459434.fdccec"]]},{"id":"73459434.fdccec","type":"http response","z":"2dea5fe7.5ae3f8","name":"","x":544.5,"y":652.5,"wires":[]},{"id":"5d881c94.17417c","type":"http in","z":"2dea5fe7.5ae3f8","name":"","url":"/test","method":"get","swaggerDoc":"","x":82,"y":663,"wires":[["7be69664.5a4308"]]},{"id":"94977b0f.d979c","type":"mysql","z":"2dea5fe7.5ae3f8","mydb":"f915f1f4.06ea1","name":"","x":353,"y":658.5,"wires":[["ed6e258f.75517"]]},{"id":"7be69664.5a4308","type":"function","z":"2dea5fe7.5ae3f8","name":"SelectTransactions","func":"msg.topic=\"SELECT * FROM customers WHERE id=1;\";\nreturn msg;","outputs":1,"noerr":0,"x":203.5,"y":615,"wires":[["94977b0f.d979c"]]},{"id":"f22b93e1.783e1","type":"debug","z":"2dea5fe7.5ae3f8","name":"","active":true,"console":"false","complete":"req.query","x":311,"y":273,"wires":[]},{"id":"78134292.a272bc","type":"function","z":"66eb2783.9914d8","name":"AddUser","func":"//node.warn(msg.id);\nif(msg.payload.length){     //Can'tAdd\n    return [null,msg];\n}else{                      //AddUser\n    msg.topic=\"INSERT INTO customers (id,money,datescanned,scaninfo) VALUES(\"+\n        msg.id+\",0,NOW(),'money');\";\n    return [msg,null];\n}\n","outputs":"2","noerr":0,"x":360.5,"y":418.5,"wires":[["304ace1f.ff8e62"],["fa732999.176b18"]]},{"id":"304ace1f.ff8e62","type":"mysql","z":"66eb2783.9914d8","mydb":"f915f1f4.06ea1","name":"","x":416.0000305175781,"y":489.0000305175781,"wires":[["3c22b13e.290386"]]},{"id":"d858251f.30a02","type":"http in","z":"66eb2783.9914d8","name":"","url":"/process-payment","method":"post","swaggerDoc":"","x":131,"y":915.5,"wires":[["7f15b96d.5ba9c8"]]},{"id":"7f15b96d.5ba9c8","type":"function","z":"66eb2783.9914d8","name":"AddMoney","func":"msg.id=msg.payload.id;\nmsg.money=parseInt(msg.payload.balance)+parseInt(msg.payload.money);\n\nmsg.topic=\"INSERT INTO customers (id,money,datescanned,scaninfo) VALUES(\"+\n    msg.id+\",\"+msg.money+\",NOW(),'money');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":262.5,"y":851.5,"wires":[["92a0478c.1906c"]]},{"id":"16c1812e.6712ff","type":"template","z":"66eb2783.9914d8","name":"MoneyAdded","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Process new user payment</title>\n</head>\n<body>\nNew balance of user ID {{id}}:<br>\n<img src='/speed/money.png' alt='money' width = '48' height='48' style='right;'>\n{{money}} units.\n\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n\n</body>\n</html>\n","x":561.5,"y":849.5,"wires":[["fb521e11.03c948"]]},{"id":"92a0478c.1906c","type":"mysql","z":"66eb2783.9914d8","mydb":"f915f1f4.06ea1","name":"","x":407.0000305175781,"y":895,"wires":[["16c1812e.6712ff"]]},{"id":"a867ab2f.fab9b8","type":"http in","z":"66eb2783.9914d8","name":"","url":"/existing-user","method":"post","swaggerDoc":"","x":101,"y":675.183349609375,"wires":[["a1005a3e.74d7a8"]]},{"id":"7d4329e0.fb77e8","type":"tcp request","z":"66eb2783.9914d8","server":"localhost","port":"2000","out":"time","splitc":"1000","name":"","x":132.88333129882812,"y":789.083251953125,"wires":[["27031e32.59225a"]]},{"id":"3c22b13e.290386","type":"function","z":"66eb2783.9914d8","name":"RequestLatest","func":"msg.topic=\"SELECT * FROM customers WHERE scaninfo='money' AND id='\"+msg.id+\n    \"' ORDER BY datescanned DESC LIMIT 1;\"\nreturn msg;","outputs":"1","noerr":0,"x":308.8833312988281,"y":637.083251953125,"wires":[["d07b1cdd.b21e"]]},{"id":"d07b1cdd.b21e","type":"mysql","z":"66eb2783.9914d8","mydb":"f915f1f4.06ea1","name":"","x":439.3833312988281,"y":719.583251953125,"wires":[["34281d74.a8b602"]]},{"id":"34281d74.a8b602","type":"function","z":"66eb2783.9914d8","name":"VerifyLatest","func":"if(msg.payload.length){  //Found\n    msg.payload=msg.payload[0];\n    return [msg,null,null,null];\n}else{                  //Can'tFind\n    var buzzer={payload:100};\n    var led={payload:10};\n    return [null,msg,buzzer,led];\n}\n","outputs":"4","noerr":0,"x":526.88330078125,"y":653.083251953125,"wires":[["b9ecbdae.31f9e"],["759d4e38.6a0ad"],["c57a9335.2be2d8"],["6ec88e76.285068"]]},{"id":"d363afd7.552098","type":"inject","z":"2dea5fe7.5ae3f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":202.88333129882812,"y":514.88330078125,"wires":[["e7e9e818.4b1228"]]},{"id":"c851f679.78a788","type":"mysql","z":"2dea5fe7.5ae3f8","mydb":"f915f1f4.06ea1","name":"","x":567.3833312988281,"y":433.88330078125,"wires":[[]]},{"id":"e7e9e818.4b1228","type":"function","z":"2dea5fe7.5ae3f8","name":"AddMoney","func":"var uID=1;\nvar accountMoney=1;\nvar dateTime=new Date().toISOString().slice(0, 19).replace('T', ' ');\n//node.warn(dateTime);\n\nmsg.topic=\"INSERT INTO customers (id,money,datescanned,scaninfo) VALUES(\"+\n    uID+\",\"+accountMoney+\",'\"+dateTime+\"','\"+accountMoney+\" units added');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":365.8833312988281,"y":482.88330078125,"wires":[["c851f679.78a788"]]},{"id":"de4228f1.5262e8","type":"inject","z":"2dea5fe7.5ae3f8","name":"PURGE","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":190.88333129882812,"y":402.38330078125,"wires":[["ebe4bfa7.3547"]]},{"id":"ebe4bfa7.3547","type":"function","z":"2dea5fe7.5ae3f8","name":"ClearHistory","func":"msg.topic=\"DELETE FROM customers WHERE id<100;\"\nreturn msg;","outputs":1,"noerr":0,"x":370.8833312988281,"y":407.38330078125,"wires":[["c851f679.78a788"]]},{"id":"457bc2ca.ef10dc","type":"http in","z":"66eb2783.9914d8","name":"","url":"/main","method":"get","swaggerDoc":"","x":472.5000305175781,"y":251.5,"wires":[["e5f9f711.ab8ee"]]},{"id":"e5f9f711.ab8ee","type":"template","z":"66eb2783.9914d8","name":"Main","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Main</title>\n</head>\n<body>\n\nClick and then scan the ID:<br>\n1.<br>\n<form method='post' action='existing-user'>\n<input type='image' src='/speed/user.jpg' alt='Existing User' width=\"48\" height=\"48\">\n<img src='/speed/cursor-icon.png' alt='click' width = '20' height='20' style='right;'>\n<img src='/speed/rfid.png' alt='click' width = '48' height='48' style='right;'>\n</form>\n\n2.<br>\n<form method='post' action='new-user'>\n<input type='image' src='/speed/add-user.jpg' alt='New User' width=\"48\" height=\"48\">\n<img src='/speed/cursor-icon.png' alt='click' width = '20' height='20' style='right;'>\n<img src='/speed/rfid.png' alt='click' width = '48' height='48' style='right'>\n</form>\n\nEject USB:<br>\n<form method='post' action='eject-usb'>\n<input type='image' src='/speed/ejectusb.png' alt='Eject USB' width=\"48\" height=\"48\">\n<img src='/speed/cursor-icon.png' alt='click' width = '20' height='20' style='right;'>\n</form>\n\n\n</body>\n</html>\n","x":565,"y":332.5,"wires":[["fb521e11.03c948"]]},{"id":"759d4e38.6a0ad","type":"template","z":"66eb2783.9914d8","name":"Can'tFindUser","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<title>\nCan't find user\n</title>\n</head>\n<body>\n\nUser ID {{id}} is not found in the database.<br>\nClick below to add.<br>\n<form method='post' action='new-user'>\n<input type='image' src='/speed/add-user.jpg' width=\"48\" height=\"48\">\n<img src='/speed/cursor-icon.png' alt='click' width = '20' height='20' style='right;'>\n<img src='/speed/rfid.png' alt='click' width = '48' height='48' style='right''>\n</form>\n\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>","x":592.2666015625,"y":558.2833251953125,"wires":[["fb521e11.03c948"]]},{"id":"b9ecbdae.31f9e","type":"template","z":"66eb2783.9914d8","name":"UserInfo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<title>\nFound user\n</title>\n</head>\n<body>\n\nCurrent balance for user ID {{id}}:<br>\n<img src='/speed/money.png' alt='money' width = '48' height='48' style='right;'>\n{{payload.money}} units.\n\n<br>\n<form method ='post' action='process-payment'>\n+<input type='text' name='money'> units.\n<input type='hidden' name='id' value='{{id}}'>\n<input type='hidden' name='balance' value='{{payload.money}}'>\n<input type='submit' name='payment' value='Enter'>\n</form>\n\n<br>\n<form method='post' action='account-history'>\n<input type='hidden' name='id' value='{{id}}'>\n<input type='image' src='/speed/history.png' width=\"48\" height=\"48\">\n</form>\n\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>\n","x":611.2666015625,"y":491.2833557128906,"wires":[["fb521e11.03c948"]]},{"id":"a1005a3e.74d7a8","type":"function","z":"66eb2783.9914d8","name":"","func":"msg.payload=\"get_id\";\nreturn msg;","outputs":1,"noerr":0,"x":117.88333129882812,"y":723.4832763671875,"wires":[["7d4329e0.fb77e8"]]},{"id":"27031e32.59225a","type":"function","z":"66eb2783.9914d8","name":"ConvertID","func":"msg.id=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":334.26666259765625,"y":786.2833251953125,"wires":[["3c22b13e.290386"]]},{"id":"e7445578.e5df6","type":"function","z":"66eb2783.9914d8","name":"ConvertID","func":"msg.id=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":142.88333129882812,"y":497.8833312988281,"wires":[["933aea98.d31b18"]]},{"id":"78b0e255.6b20e4","type":"http in","z":"66eb2783.9914d8","name":"","url":"/account-history","method":"post","swaggerDoc":"","x":119,"y":1013.183349609375,"wires":[["e435c637.0508b8"]]},{"id":"c3a10f60.0369b8","type":"template","z":"66eb2783.9914d8","name":"AccountHistory","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<title>\nAccount history\n</title>\n</head>\n<body>\n<div id='history'>\nAccount history for user ID {{id}}:<br>\n{{{payload}}}\n</div>\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>","x":617.2666015625,"y":945.2833251953125,"wires":[["fb521e11.03c948"]]},{"id":"37634ebb.68cf22","type":"mysql","z":"66eb2783.9914d8","mydb":"f915f1f4.06ea1","name":"","x":363.8833312988281,"y":1004.683349609375,"wires":[["8a86734a.0cac9"]]},{"id":"e435c637.0508b8","type":"function","z":"66eb2783.9914d8","name":"","func":"msg.id=msg.payload.id;\nmsg.topic=\"SELECT * FROM customers WHERE id=\"+msg.id+\n    \" ORDER BY datescanned DESC LIMIT 10;\";\nreturn msg;","outputs":1,"noerr":0,"x":211.26666259765625,"y":1066.283447265625,"wires":[["37634ebb.68cf22"]]},{"id":"8a86734a.0cac9","type":"function","z":"66eb2783.9914d8","name":"","func":"var l=\"<table style='width:90%;'><tr><th>Date</th><th>Info</th><th>Money</th></tr>\";\nfor(var i=0;i<msg.payload.length;i++){\n    var el=msg.payload[i];\n    l+=\"<tr><td>\"+el.datescanned+\"</td><td>\"+\n        el.scaninfo+\"</td><td style='text-align:right;'>\"+\n        el.money+\"</td></tr>\";\n}\nl+=\"</table>\";\nmsg.payload=l;\nreturn msg;\n","outputs":1,"noerr":0,"x":529.2666015625,"y":1024.2833251953125,"wires":[["c3a10f60.0369b8"]]},{"id":"6dd67408.5eb824","type":"rpi-gpio out","z":"66eb2783.9914d8","name":"LED","pin":"15","set":false,"level":"0","out":"pwm","x":1057.2666015625,"y":550.183349609375,"wires":[]},{"id":"8968a1ce.7498c8","type":"rpi-gpio out","z":"66eb2783.9914d8","name":"BUZZER","pin":"12","set":false,"level":"0","out":"pwm","x":1051.2666015625,"y":449.1833801269531,"wires":[]},{"id":"c57a9335.2be2d8","type":"function","z":"66eb2783.9914d8","name":"ActuateBuzzer","func":"node.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},500);","outputs":1,"noerr":0,"x":855.2666015625,"y":487.2833557128906,"wires":[["8968a1ce.7498c8"]]},{"id":"6ec88e76.285068","type":"function","z":"66eb2783.9914d8","name":"ActuateLED","func":"node.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},2000);","outputs":1,"noerr":0,"x":849.88330078125,"y":591.7332763671875,"wires":[["6dd67408.5eb824"]]},{"id":"3bbdda89.1f72c6","type":"inject","z":"66eb2783.9914d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":1261.0166015625,"wires":[["5f144bf8.1cf0bc"]]},{"id":"5f144bf8.1cf0bc","type":"exec","z":"66eb2783.9914d8","command":"sudo","addpay":false,"append":"node /home/pi/.node-red/node_modules/rc522/rc522_output.js","useSpawn":true,"timer":"","name":"","x":205,"y":1182.7332153320312,"wires":[["e4bf1e18.70ab28"],["2392d2a4.9eefc6"],["c5ee4a02.6caad","d3ac1f92.18ad6"]]},{"id":"2392d2a4.9eefc6","type":"debug","z":"66eb2783.9914d8","name":"","active":true,"console":"false","complete":"payload","x":508.0000305175781,"y":1173.716552734375,"wires":[]},{"id":"c5ee4a02.6caad","type":"debug","z":"66eb2783.9914d8","name":"","active":true,"console":"false","complete":"false","x":451.9999694824219,"y":1233.716552734375,"wires":[]},{"id":"d3ac1f92.18ad6","type":"delay","z":"66eb2783.9914d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":286,"y":1307.41650390625,"wires":[["5f144bf8.1cf0bc"]]},{"id":"e4bf1e18.70ab28","type":"function","z":"66eb2783.9914d8","name":"","func":"//node.warn(msg.payload);\nmsg.payload=parseInt(msg.payload,16);\nflow.set(\"rfidSerialNumber\", msg.payload);\n\n//var rc522 = require(\"rc522\");\n//var rc522 = global.get('rc522');\n//node.warn('Ready!!!');\n\n//rc522(function(rfidSerialNumber){\n//    node.warn('Inside');\n//    node.warn(rfidSerialNumber);\n//    flow.set(\"rfidSerialNumber\", rfidSerialNumber);\n//});\n\nmsg.payload=\"id_scanned\";\nreturn msg;","outputs":"1","noerr":0,"x":354.0000305175781,"y":1129.949951171875,"wires":[["3d59fc85.6a07cc"]]},{"id":"3d59fc85.6a07cc","type":"link out","z":"66eb2783.9914d8","name":"","links":["7ddd464.407bf38"],"x":467.2666320800781,"y":1108.1500244140625,"wires":[]},{"id":"7ddd464.407bf38","type":"link in","z":"66eb2783.9914d8","name":"","links":["3d59fc85.6a07cc"],"x":199.26666259765625,"y":71.01666259765625,"wires":[["5e907521.eb2aa4"]]}]