flows_raspberrypi.json
[{"id":"66eb2783.9914d8","type":"tab","label":"SPEED Flow"},{"id":"cb74d090.a693c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"abad28d3.c88d1","type":"ui_group","z":"","name":"Monitoring","tab":"cb74d090.a693c8","disp":true,"width":"6"},{"id":"d675b3db.313288","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"speed","tz":""},{"id":"832b6d06.29603","type":"http in","z":"66eb2783.9914d8","name":"","url":"/user","method":"post","swaggerDoc":"","x":90,"y":260,"wires":[["eca9b697.c0908"]]},{"id":"fb521e11.03c948","type":"http response","z":"66eb2783.9914d8","name":"","x":1050,"y":160,"wires":[]},{"id":"c205a536.c29","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":420,"y":260,"wires":[["78134292.a272bc"]]},{"id":"78134292.a272bc","type":"function","z":"66eb2783.9914d8","name":"CheckUser","func":"//node.warn(msg.id);\nif(msg.payload.length){     //User already exists\n    msg.payload=msg.payload[0];\n    return [msg,null];\n}else{                      //Add user\n    msg.topic=\"INSERT INTO users (id,money,stamp,type) VALUES(\"+\n        msg.id+\",0,NOW(),'money');\";\n    return [null,msg];\n}\n","outputs":"2","noerr":0,"x":630,"y":260,"wires":[["b9ecbdae.31f9e"],["ac555a45.e3f8b"]]},{"id":"d858251f.30a02","type":"http in","z":"66eb2783.9914d8","name":"","url":"/process-payment","method":"post","swaggerDoc":"","x":140,"y":140,"wires":[["7f15b96d.5ba9c8"]]},{"id":"7f15b96d.5ba9c8","type":"function","z":"66eb2783.9914d8","name":"AddMoney","func":"msg.id=msg.payload.id;\nmsg.money=parseInt(msg.payload.balance)+parseInt(msg.payload.money);\n\nmsg.topic=\"INSERT INTO users (id,money,stamp,type) VALUES(\"+\n    msg.id+\",\"+msg.money+\",NOW(),'money');\";\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["92a0478c.1906c"]]},{"id":"16c1812e.6712ff","type":"template","z":"66eb2783.9914d8","name":"MoneyAdded","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n<head>\n<title>Process new user payment</title>\n</head>\n<body>\nNew balance of user ID {{id}}:<br>\n<img src='/speed/money.png' alt='money' width = '48' height='48' style='right;'>\n{{money}} units.\n\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n\n</body>\n</html>\n","x":880,"y":140,"wires":[["fb521e11.03c948"]]},{"id":"92a0478c.1906c","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":580,"y":140,"wires":[["16c1812e.6712ff"]]},{"id":"3c22b13e.290386","type":"function","z":"66eb2783.9914d8","name":"RequestLatest","func":"msg.topic=\"SELECT * FROM users WHERE type='money' AND id='\"+msg.id+\n    \"' ORDER BY stamp DESC LIMIT 1;\"\nreturn msg;","outputs":"1","noerr":0,"x":380,"y":320,"wires":[["c205a536.c29"]]},{"id":"457bc2ca.ef10dc","type":"http in","z":"66eb2783.9914d8","name":"","url":"/main","method":"get","swaggerDoc":"","x":90,"y":80,"wires":[["e5f9f711.ab8ee"]]},{"id":"e5f9f711.ab8ee","type":"template","z":"66eb2783.9914d8","name":"Main","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Main</title>\n</head>\n<body>\n\nClick and then touch the card:<br>\n<form method='post' action='user'>\n<input type='image' src='/speed/rfid.png' alt='rfid' width=\"100\" height=\"100\">\n</form>\n\n</body>\n</html>\n","x":910,"y":80,"wires":[["fb521e11.03c948"]]},{"id":"b9ecbdae.31f9e","type":"template","z":"66eb2783.9914d8","name":"UserInfo","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<title>\nFound user\n</title>\n</head>\n<body>\n\nCurrent balance for user ID {{id}}:<br>\n<img src='/speed/money.png' alt='money' width = '48' height='48' style='right;'>\n{{payload.money}} units.\n\n<br>\n<form method ='post' action='process-payment'>\n+<input type='number' name='money' min='1' max='100' required> units.\n<input type='hidden' name='id' value='{{id}}'>\n<input type='hidden' name='balance' value='{{payload.money}}'>\n<input type='submit' name='payment' value='Enter'>\n</form>\n\n<br>\n<form method='post' action='account-history'>\n<input type='hidden' name='id' value='{{id}}'>\n<input type='image' src='/speed/history.png' width=\"48\" height=\"48\">\n</form>\n\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>\n","x":900,"y":260,"wires":[["fb521e11.03c948"]]},{"id":"78b0e255.6b20e4","type":"http in","z":"66eb2783.9914d8","name":"","url":"/account-history","method":"post","swaggerDoc":"","x":130,"y":200,"wires":[["e435c637.0508b8"]]},{"id":"c3a10f60.0369b8","type":"template","z":"66eb2783.9914d8","name":"AccountHistory","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n<title>\nAccount history\n</title>\n<style>\nth,td {\n    text-align:center;\n}\n</style>\n</head>\n<body>\n<div id='history'>\nRecent account history for user ID {{id}}:<br>\n{{{payload}}}\n</div>\n<br><form action=\"main\" method=\"get\"><button type=\"submit\">Home</button></form>\n</body>\n</html>","x":870,"y":200,"wires":[["fb521e11.03c948"]]},{"id":"37634ebb.68cf22","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":520,"y":200,"wires":[["8a86734a.0cac9"]]},{"id":"e435c637.0508b8","type":"function","z":"66eb2783.9914d8","name":"CheckHistory","func":"msg.id=msg.payload.id;\nmsg.topic=\"SELECT * FROM users WHERE id=\"+msg.id+\n    \" ORDER BY stamp DESC LIMIT 10;\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["37634ebb.68cf22"]]},{"id":"8a86734a.0cac9","type":"function","z":"66eb2783.9914d8","name":"MakeTable","func":"var l=\"<table><tr><th>Stamp</th><th>Money</th><th>Type</th></tr>\";\nfor(var i=0;i<msg.payload.length;i++){\n    var el=msg.payload[i];\n    l+=\"<tr><td>\"+el.stamp+\"</td><td>\"+\n        el.money+\"</td><td>\"+el.type+\"</td></tr>\";\n}\nl+=\"</table>\";\nmsg.payload=l;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":200,"wires":[["c3a10f60.0369b8"]]},{"id":"3bbdda89.1f72c6","type":"inject","z":"66eb2783.9914d8","name":"INITIALIZATION","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":120,"y":580,"wires":[["8232c4f2.dd8c48"]]},{"id":"2392d2a4.9eefc6","type":"debug","z":"66eb2783.9914d8","name":"stderr & code","active":true,"console":"false","complete":"payload","x":420,"y":700,"wires":[]},{"id":"d3ac1f92.18ad6","type":"delay","z":"66eb2783.9914d8","name":"Restart in case of failure","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":760,"wires":[["5f144bf8.1cf0bc"]]},{"id":"e4bf1e18.70ab28","type":"function","z":"66eb2783.9914d8","name":"ReadRFID","func":"var id=parseInt(msg.payload,16);\nmsg.id=id;\nnode.log(\"scanned id \"+msg.id);\n\nvar http=flow.get(\"httpRequest\");\n\nif(!http){\n    node.log(\"id used for charging\");\n    msg.topic=\"SELECT * FROM users WHERE type='money' AND id='\"+msg.id+\n    \"' ORDER BY stamp DESC LIMIT 1;\";\n    return [null,msg];\n}\n\nnode.log(\"id used for query\");\nmsg=http;\nflow.set(\"httpRequest\",null);\nmsg.id=id;\n\nreturn [msg,null];","outputs":"2","noerr":0,"x":170,"y":440,"wires":[["3c22b13e.290386","ed582165.304748"],["47eb8d59.effc24"]]},{"id":"ac555a45.e3f8b","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":440,"y":380,"wires":[["3c22b13e.290386"]]},{"id":"eca9b697.c0908","type":"function","z":"66eb2783.9914d8","name":"StoreHTTP","func":"flow.set(\"httpRequest\",msg);\nnode.log(\"id requested\");","outputs":"0","noerr":0,"x":150,"y":340,"wires":[]},{"id":"6dd67408.5eb824","type":"rpi-gpio out","z":"66eb2783.9914d8","name":"LED","pin":"15","set":false,"level":"0","out":"pwm","x":990,"y":480,"wires":[]},{"id":"8968a1ce.7498c8","type":"rpi-gpio out","z":"66eb2783.9914d8","name":"BUZZER","pin":"12","set":false,"level":"0","out":"pwm","x":980,"y":420,"wires":[]},{"id":"5f144bf8.1cf0bc","type":"exec","z":"66eb2783.9914d8","command":"python","addpay":false,"append":"/home/pi/.node-red/user_modules/MFRC522-python/Read.py","useSpawn":true,"timer":"","name":"RFID Reader","x":200,"y":700,"wires":[["e4bf1e18.70ab28"],["2392d2a4.9eefc6"],["d3ac1f92.18ad6","2392d2a4.9eefc6"]]},{"id":"94045909.a803c","type":"function","z":"66eb2783.9914d8","name":"CheckBalance","func":"if(msg.payload.length){\n    var money=msg.payload[0].money;\n    if(money>0){\n        msg.topic=\"INSERT INTO users (id,money,stamp,type) VALUES(\"+\n            msg.id+\",\"+(money-1)+\",NOW(),'money');\";\n        node.log(\"charging money\");\n        return [msg,null];\n    }\n}\n\nnode.log(\"not enough money\");\nreturn [null,msg];\n","outputs":"2","noerr":0,"x":540,"y":540,"wires":[["2278f747.52b738","ed582165.304748"],["2d98a64c.957c22"]]},{"id":"47eb8d59.effc24","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":320,"y":540,"wires":[["94045909.a803c"]]},{"id":"2278f747.52b738","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":760,"y":520,"wires":[[]]},{"id":"ed582165.304748","type":"function","z":"66eb2783.9914d8","name":"ActuatePos","func":"msg.payload=100;\nnode.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},500);","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["8968a1ce.7498c8","6dd67408.5eb824"]]},{"id":"2d98a64c.957c22","type":"function","z":"66eb2783.9914d8","name":"ActuateNeg","func":"for(var i=0;i<4;i++){\n    var t=i*2*100;\n    setTimeout(function(){node.send({payload:100});},t);\n    setTimeout(function(){node.send({payload:0});},t+100);\n}","outputs":1,"noerr":0,"x":820,"y":600,"wires":[["8968a1ce.7498c8","6dd67408.5eb824"]]},{"id":"5838acd.d0ec154","type":"pimcp3008","z":"66eb2783.9914d8","name":"","pin":0,"dnum":"1","x":170,"y":900,"wires":[["1fd9fa04.573da6"]]},{"id":"1fd9fa04.573da6","type":"function","z":"66eb2783.9914d8","name":"ConvertCurrent","func":"msg.payload=36.7*msg.payload/1023-18.3;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":920,"wires":[["195fee17.e8d5f2","ff14f669.3ff3c8"]]},{"id":"941d18d1.9ebf6","type":"function","z":"66eb2783.9914d8","name":"ConvertVoltage","func":"msg.payload=13.1*msg.payload/1023;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":980,"wires":[["195fee17.e8d5f2","ff14f669.3ff3c8"]]},{"id":"71988276.8c9db4","type":"pimcp3008","z":"66eb2783.9914d8","name":"","pin":"1","dnum":"1","x":170,"y":940,"wires":[["1fd9fa04.573da6"]]},{"id":"349b1083.12d42","type":"pimcp3008","z":"66eb2783.9914d8","name":"","pin":"2","dnum":"1","x":170,"y":980,"wires":[["941d18d1.9ebf6"]]},{"id":"195fee17.e8d5f2","type":"function","z":"66eb2783.9914d8","name":"MakeRow","func":"var counter=context.get('counter')||0;\ncounter++;\ncontext.set('counter',counter);\ncontext.set(msg.topic,msg.payload);\n\nif(3===counter){\n    context.set('counter',0);\n    msg.topic=\"INSERT INTO power \"+\n        \"(stamp,charge,discharge,voltage) VALUES(NOW(),\"+\n        context.get('adc/0')+\",\"+context.get('adc/1')+\",\"+context.get('adc/2')+\");\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":980,"wires":[["714ad4a9.7a273c"]]},{"id":"4d670972.a5c9d8","type":"inject","z":"66eb2783.9914d8","name":"Current/Voltage Monitor","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":160,"y":840,"wires":[["5838acd.d0ec154","71988276.8c9db4","349b1083.12d42"]]},{"id":"fbfdbde5.d2b71","type":"inject","z":"66eb2783.9914d8","name":"CleanUp","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"x":430,"y":840,"wires":[["be75908e.e28ca8"]]},{"id":"be75908e.e28ca8","type":"function","z":"66eb2783.9914d8","name":"PurgeOld","func":"msg.topic='DELETE FROM power WHERE stamp < (NOW() - INTERVAL 30 day);';\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":840,"wires":[["714ad4a9.7a273c"]]},{"id":"714ad4a9.7a273c","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":820,"y":840,"wires":[[]]},{"id":"e9a956f5.0b11f","type":"pimcp3008","z":"66eb2783.9914d8","name":"","pin":"M","dnum":"1","x":390,"y":1080,"wires":[["69d3c4ee.437d2c"]]},{"id":"876ed368.0706f8","type":"inject","z":"66eb2783.9914d8","name":"A/D Diagnostics","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1080,"wires":[["35399681.0cbffa"]]},{"id":"35399681.0cbffa","type":"function","z":"66eb2783.9914d8","name":"","func":"for(var i=0;i<8;i++)\n    node.send({payload:i});","outputs":1,"noerr":0,"x":270,"y":1080,"wires":[["e9a956f5.0b11f"]]},{"id":"69d3c4ee.437d2c","type":"function","z":"66eb2783.9914d8","name":"","func":"node.warn(msg.topic+\":\"+msg.payload);","outputs":1,"noerr":0,"x":510,"y":1080,"wires":[[]]},{"id":"ff14f669.3ff3c8","type":"ui_chart","z":"66eb2783.9914d8","name":"","group":"abad28d3.c88d1","order":0,"width":"0","height":"0","label":"Real-time power data","chartType":"line","legend":"true","xformat":"%H:%M:%S","interpolate":"step-after","nodata":"Wait until new data arrives...","ymin":"","ymax":"","removeOlder":"1","removeOlderUnit":"86400","x":830,"y":880,"wires":[[],[]]},{"id":"53cfaefe.37287","type":"ui_text","z":"66eb2783.9914d8","group":"abad28d3.c88d1","order":0,"width":0,"height":0,"name":"","label":"adc/0","format":"Battery charge current","layout":"row-spread","x":830,"y":920,"wires":[]},{"id":"8d165a49.84e088","type":"ui_text","z":"66eb2783.9914d8","group":"abad28d3.c88d1","order":0,"width":0,"height":0,"name":"","label":"adc/1","format":"Battery discharge current","layout":"row-spread","x":830,"y":960,"wires":[]},{"id":"b87aeadd.ed44c8","type":"ui_text","z":"66eb2783.9914d8","group":"abad28d3.c88d1","order":0,"width":0,"height":0,"name":"","label":"adc/2","format":"Battery voltage","layout":"row-spread","x":830,"y":1000,"wires":[]},{"id":"4b4f8a16.93ab1c","type":"ui_button","z":"66eb2783.9914d8","name":"Dashboard Button","group":"abad28d3.c88d1","order":0,"width":0,"height":0,"label":"CLICK TO LOAD REAL-TIME DATA NOW","color":"","icon":"","payload":"","payloadType":"date","topic":"","x":120,"y":1020,"wires":[["349b1083.12d42","71988276.8c9db4","5838acd.d0ec154"]]},{"id":"3e7b7b98.497dec","type":"comment","z":"66eb2783.9914d8","name":"SCROLL DOWN TO SEE ALL FLOWS","info":"","x":550,"y":40,"wires":[]},{"id":"9e23fbf.8cf5c08","type":"function","z":"66eb2783.9914d8","name":"Init DB Tables","func":"// Init users table\nmsg.topic=\"CREATE TABLE IF NOT EXISTS users (\"+\n    \"stamp TIMESTAMP DEFAULT 0,\"+\n    \"id BIGINT,\"+\n    \"money INT,\"+\n    \"type VARCHAR(256)\"+\n    \");\";\nnode.send(msg);\n\n// Init power table\nmsg.topic=\"CREATE TABLE IF NOT EXISTS power (\"+\n    \"stamp TIMESTAMP DEFAULT 0,\"+\n    \"charge FLOAT,\"+\n    \"discharge FLOAT,\"+\n    \"voltage FLOAT\"+\n    \");\";\nnode.send(msg);\n","outputs":1,"noerr":0,"x":640,"y":680,"wires":[["a029b5fa.eaa33"]]},{"id":"a029b5fa.eaa33","type":"mysql","z":"66eb2783.9914d8","mydb":"d675b3db.313288","name":"","x":820,"y":680,"wires":[[]]},{"id":"8232c4f2.dd8c48","type":"delay","z":"66eb2783.9914d8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":140,"y":640,"wires":[["9e23fbf.8cf5c08","5f144bf8.1cf0bc"]]}]