flows_example.json
[{"id":"7b36a3f.42c0bdc","type":"tab","label":"Hello World"},{"id":"53bc8028.22e218","type":"tab","label":"Power Data"},{"id":"28a0cb77.3dd2ec","type":"tab","label":"Twitter Analysis"},{"id":"ea43d9ec.194d1","type":"tab","label":"Tips"},{"id":"52dedc01.bdc8c4","type":"twitter-credentials","z":"28a0cb77.3dd2ec","screen_name":"@iss4e_test"},{"id":"d9262561.48d9c","type":"http in","z":"7b36a3f.42c0bdc","name":"","url":"/hello","method":"get","swaggerDoc":"","x":90,"y":240,"wires":[["4f5e6ad1.a340ec","e3eb16c9.547b1"]]},{"id":"7aa51561.a51c04","type":"http response","z":"7b36a3f.42c0bdc","name":"","x":530,"y":240,"wires":[]},{"id":"4f5e6ad1.a340ec","type":"function","z":"7b36a3f.42c0bdc","name":"Content","func":"//msg.payload=\"Hello world!\";\nmsg.payload=\"Hello world!<br>\"+new Date();\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":240,"wires":[["45f9986f.d4a7f8","3c3b5dd1.ae9eca"]]},{"id":"45f9986f.d4a7f8","type":"template","z":"7b36a3f.42c0bdc","name":"Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p style=\"color:red;font-size:500%;\">\n{{{payload}}}\n</p>","x":420,"y":300,"wires":[["7aa51561.a51c04"]]},{"id":"f4cf214a.0febc","type":"rpi-gpio out","z":"7b36a3f.42c0bdc","name":"LED","pin":"15","set":false,"level":"0","out":"pwm","x":530,"y":440,"wires":[]},{"id":"7ec7031d.e78b14","type":"rpi-gpio out","z":"7b36a3f.42c0bdc","name":"BUZZER","pin":"12","set":false,"level":"0","out":"pwm","x":520,"y":400,"wires":[]},{"id":"54eb4c1f.8242a4","type":"debug","z":"7b36a3f.42c0bdc","name":"","active":true,"complete":false,"x":500,"y":60,"wires":[]},{"id":"8e1cc0ae.3d9d8","type":"inject","z":"7b36a3f.42c0bdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","once":false,"x":110,"y":60,"wires":[["298b022d.2cc14e"]]},{"id":"298b022d.2cc14e","type":"function","z":"7b36a3f.42c0bdc","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["54eb4c1f.8242a4"]]},{"id":"40ba7f8e.e4a718","type":"inject","z":"53bc8028.22e218","name":"Tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5 * * * *","once":false,"x":90,"y":160,"wires":[["e1a70933.f4c0e"]]},{"id":"e1a70933.f4c0e","type":"http request","z":"53bc8028.22e218","name":"UK Power","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","x":130,"y":260,"wires":[["e64ebd84.fc2d58"]]},{"id":"e64ebd84.fc2d58","type":"function","z":"53bc8028.22e218","name":"UK Power Demand","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":200,"y":340,"wires":[["3820eba4.4acacc"],["f0d43f1.5ddb94"]]},{"id":"3820eba4.4acacc","type":"debug","z":"53bc8028.22e218","name":"","active":true,"complete":false,"x":460,"y":340,"wires":[]},{"id":"f0d43f1.5ddb94","type":"debug","z":"53bc8028.22e218","name":"","active":true,"complete":false,"x":460,"y":380,"wires":[]},{"id":"12d3e406.327484","type":"twitter in","z":"28a0cb77.3dd2ec","twitter":"52dedc01.bdc8c4","tags":"trudeau","user":"false","name":"Tag","topic":"tweets","inputs":0,"x":70,"y":180,"wires":[["cc2b0b5e.fc18e8"]]},{"id":"3ec2e5d6.9519c2","type":"debug","z":"28a0cb77.3dd2ec","name":"","active":true,"console":"false","complete":"sentiment.score","x":310,"y":460,"wires":[]},{"id":"ed212692.bee3c8","type":"sentiment","z":"28a0cb77.3dd2ec","name":"","x":110,"y":340,"wires":[["3ec2e5d6.9519c2","c7d98536.171ab8"]]},{"id":"c7d98536.171ab8","type":"switch","z":"28a0cb77.3dd2ec","name":"","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"str"},{"t":"gte","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":280,"y":340,"wires":[["f34f00ce.c6bda"],["4a41ad87.a20004"]]},{"id":"c33f2c6a.598a88","type":"link out","z":"28a0cb77.3dd2ec","name":"BUZZER LINK","links":["84fcf2bd.cc40f8"],"x":615,"y":300,"wires":[]},{"id":"7f762520.aa6e84","type":"link out","z":"28a0cb77.3dd2ec","name":"LED LINK","links":["7638e3af.1f1dbc"],"x":615,"y":400,"wires":[]},{"id":"84fcf2bd.cc40f8","type":"link in","z":"7b36a3f.42c0bdc","name":"","links":["c33f2c6a.598a88"],"x":35,"y":440,"wires":[["7ec7031d.e78b14"]]},{"id":"7638e3af.1f1dbc","type":"link in","z":"7b36a3f.42c0bdc","name":"","links":["7f762520.aa6e84"],"x":35,"y":480,"wires":[["f4cf214a.0febc"]]},{"id":"a1a30cb9.1afef8","type":"debug","z":"28a0cb77.3dd2ec","name":"","active":true,"console":"false","complete":"false","x":420,"y":240,"wires":[]},{"id":"4157f93a.4debb8","type":"inject","z":"28a0cb77.3dd2ec","name":"Toggle","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":90,"y":80,"wires":[["2718fe1b.187812"]]},{"id":"cc2b0b5e.fc18e8","type":"switch","z":"28a0cb77.3dd2ec","name":"Toggle switch","property":"on","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":200,"y":240,"wires":[["a1a30cb9.1afef8","ed212692.bee3c8"]]},{"id":"2718fe1b.187812","type":"function","z":"28a0cb77.3dd2ec","name":"","func":"if(flow.get(\"on\"))\n    flow.set(\"on\",false);\nelse\n    flow.set(\"on\",true);","outputs":"0","noerr":0,"x":270,"y":80,"wires":[]},{"id":"67501d97.5914b4","type":"http in","z":"ea43d9ec.194d1","name":"","url":"/tips","method":"get","swaggerDoc":"","x":120,"y":380,"wires":[["7146ac69.92e17c"]]},{"id":"e6b7f5da.c7ebd8","type":"http response","z":"ea43d9ec.194d1","name":"","x":530,"y":380,"wires":[]},{"id":"7146ac69.92e17c","type":"template","z":"ea43d9ec.194d1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<p style=\"color:green;font-size:500%;\">TIPS</p>\n<ul style=\"font-size:300%;\">\n    <li>Use the right browser (NOT Epiphany)</li>\n    <li>Update & upgrade firmware and software</li>\n    <li>Ensure sufficient user access priviliges\n    <ul>\n        <li>General-purpose input/output - gpio</li>\n        <li>Serial peripheral interface bus - spi</li>\n    </ul>\n    </li>\n    <li>Return msg, not just a value</li>\n    <li>Ask questions in user groups</li>\n</ul>\n","x":330,"y":380,"wires":[["e6b7f5da.c7ebd8"]]},{"id":"7715bbec.7e3e4c","type":"inject","z":"7b36a3f.42c0bdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":640,"wires":[["60e69a54.7b90a4"]]},{"id":"d0061499.b19b3","type":"debug","z":"7b36a3f.42c0bdc","name":"","active":true,"console":"false","complete":"false","x":480,"y":640,"wires":[]},{"id":"60e69a54.7b90a4","type":"function","z":"7b36a3f.42c0bdc","name":"","func":"var num=2*msg.payload;\nreturn {payload:num};","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["d0061499.b19b3"]]},{"id":"e3eb16c9.547b1","type":"function","z":"7b36a3f.42c0bdc","name":"Actuate","func":"msg.payload=100;\nnode.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},500);","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["7ec7031d.e78b14","f4cf214a.0febc"]]},{"id":"f34f00ce.c6bda","type":"function","z":"28a0cb77.3dd2ec","name":"ActuateBuzzer","func":"msg.payload=Math.min(100,(-msg.sentiment.score)*20);\nnode.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},500);","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["c33f2c6a.598a88"]]},{"id":"4a41ad87.a20004","type":"function","z":"28a0cb77.3dd2ec","name":"ActuateLED","func":"msg.payload=100;\nnode.send(msg);\nmsg.payload=0;\nsetTimeout(function(){node.send(msg);},500);","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["7f762520.aa6e84"]]},{"id":"26515f35.5730f8","type":"comment","z":"ea43d9ec.194d1","name":"GO OVER BEST PRACTICES","info":"","x":270,"y":60,"wires":[]},{"id":"4ee77315.23629c","type":"function","z":"ea43d9ec.194d1","name":"","func":"var msg1 = { payload:\"first out of output 1\" };\nvar msg2 = { payload:\"second out of output 1\" };\nvar msg3 = { payload:\"third out of output 1\" };\nvar msg4 = { payload:\"only message from output 2\" };\nreturn [ [ msg1, msg2, msg3 ], msg4 ];","outputs":"2","noerr":0,"x":330,"y":160,"wires":[["46c25130.1d2818"],["7000c2e5.d1b48c"]]},{"id":"6e35b5f.3669b4c","type":"inject","z":"ea43d9ec.194d1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":150,"y":160,"wires":[["4ee77315.23629c"]]},{"id":"46c25130.1d2818","type":"debug","z":"ea43d9ec.194d1","name":"","active":true,"console":"false","complete":"false","x":540,"y":140,"wires":[]},{"id":"7000c2e5.d1b48c","type":"debug","z":"ea43d9ec.194d1","name":"","active":true,"console":"false","complete":"false","x":540,"y":180,"wires":[]},{"id":"3c3b5dd1.ae9eca","type":"debug","z":"7b36a3f.42c0bdc","name":"","active":true,"console":"false","complete":"true","x":430,"y":200,"wires":[]}]